
<div class="row wrapper">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:session, url: login_path, html: {class: "form-signin"}) do |f| %>

<!-- To avoid error more than once on redirection -->
<% if flash.count > 0 %>
     <div class="alert alert-danger">
     <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
</div>
 <% end %>

      <h2 class="form-signin-heading">Log in</h2>
     
      <%= f.email_field :email, class: 'form-control formi', placeholder: "Email" %>

  
      <%= f.password_field :password, class: 'form-control formp', placeholder:"Password" %>
      <label class="checkbox">
        <%= f.check_box :remember_me %> Remember me
      </label>
      <%= f.submit "Log in", class: "btn btn-primary", class: "btn btn-lg btn-primary btn-block" %>
       <p class="new_user_ask">New user? <%= link_to "Sign up now!", who_path  %></p>
    <% end %>

   
  </div>
</div>


<style type="text/css">

.new_user_ask, .formi, .formp{
  margin-top: 20px;
}


.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .formp, .formi {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input.formi {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input.formp {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

</style>