
<!--<div class="content"> -->

   <% if search_type == "interviews" %>
<!--<div class = "wrapper">-->
    
<div class = "search-heading"><h1 id = "search-heading">INTERVIEW SEARCH</h1></div>
    <div class = "left">
  <div id = "searchPanel">
   <h2>FILTER BY</h2>
       <form method="get" action="/search">

         <input type="hidden" name="search_from" value="refine_search" value='<%=session[:company]%>'></input>
         <!--<div class="row">-->
            <!--<div class="col-md-3">-->
            <div>
                <label for "company">Company</label>
              <input  type="text" name="company" placeholder="Company" value='<%=session[:company]%>' class="form-control" />
            </div>          
            <br> 
            <!--<div class="col-md-3">-->
            <div>
               <button type="submit" class="btn btn-primary">Refine</button>
            </div>
         <!--</div>-->

       </form>     
 </div>
</div>
<div class = "centre">
    <div id = "results">
        <div class = "content">
            <!--<div id = "results">-->
            <% interviews.each do |i| %>
                
            <div class="item">
                <table><tr>
            <th class = "resultTitle"><h1>"<%= link_to i.title , {controller: 'interview_reviews', action: 'show', id: i.id}, class: "link" %>"</h1></th>
             <th class = "resultCompany"><h2><%= i.company_name %></h2></th></tr>
              </tr><th class = "resultDescription"><%= i.description %></th>
              <th class = "resultDifficulty">
              
              <!-- make this a for loop -->
               <!-- <p class="glyphicon glyphicon-asterisk" style = "color: orange"></p>-->
               <%= i.difficulty %>

              </th></tr>
              <br>  
             </table>
              
            <!--<h4>-->
            <!--  <%= link_to i.title , {controller: 'interview_reviews', action: 'show', id: i.id} %></h4>-->
            <!--  Company: <%= i.company_name %> <br>-->
            <!--  Description: <%= i.description %> <br>-->
            <!--  <br>-->
            </div>
          
          <hr>

        <%end%> 
      <%end%>

      <!--</div>-->
      </div>
     </div> 
</div>
      <div class = "right"></div>
<!--</div>-->
      
<style type="text/css">
      /* standard (repeated )*/
      
    .left {
        width: 32%;



    }
    
    .right {
        width: 0%;
    }

    
    .centre {
        width: 50%;
        float: left;
        
    }
    
    /*.searchPanel {*/
    /*    width: 50%;*/
    /*    background-color: white;*/
    /*    border: 4px solid black;*/
    /*    float: right;*/
    /*    padding-bottom: 15%; */
    /*}*/
    
    
    #search .btn-primary {
        border-radius: 0;
        border: 4px solid black;
        background-color: white;
        color: black;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        
        
        width: 70%;
        margin-left: 15%;
    }
    
    /*
    .resultTitle {
        float: left;
        color:black;
    }
    
    .resultDescription {
        width: 100;
    }*/
    
    .resultCompany h2 {
        float: right;
        text-align: right;
        
    }

    
    .resultDifficulty {
        float: right;
    }
    
    .link {
        color: black;
        text-decoration: underline;
    }
    
    table {
        width: 90%;
        margin-left: 5%;
        
    }
    
   
    
    /* new */
      .searchPanel div {
          margin-bottom: 2%;
      }
      
      .centre {
          
      }
      
      #results {
          background-color: white;
          border: 4px solid black;
          width: 99%;
          margin-left: 1%;
      }
      
      //
      
      .content{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        
      }
      
      .item{
          text-align: center;
      }
       .btn-primary{
        width: 200px;
      }
</style>