
<% if search_type == "interviews" %>

<div class = "search-heading"><h1 id = "search-heading">INTERVIEW SEARCH</h1></div>
    <div class = "left">
      <div id = "searchPanel">
       <h2>FILTER BY</h2>
       <form method="get" action="/search">
         <input type="hidden" name="search_from" value="refine_search" value='<%=session[:company]%>'></input>
      <div>
        <label for "company">Company</label>
        <input  type="text" name="company" placeholder="Company" value='<%=session[:company]%>' class="form-control" />
    </div>          
    <br> 
    <div>
        <button type="submit" class="btn btn-primary">Refine</button>
    </div>
       </form>     
 </div>
</div>
<div class = "centre">
    <div id = "results">
        <div class = "content">
            <!-- Iterate through return results and add to table (for formatting) -->
            <% interviews.each do |i| %>
                
            <div class="item">
                <table><tr>
            <td class = "resultTitle"><h1>"<%= link_to i.title , {controller: 'interview_reviews', action: 'show', id: i.id}, class: "link" %>"</h1></td>
             <td class = "resultCompany"><h2><%= i.company_name %></h2></td></tr>
              <tr><td class = "resultDescription"><h3><%= i.description %></h3></td>
              <td class = "resultDifficulty">
              
              <!-- make this a for loop -->
               <!-- <p class="glyphicon glyphicon-asterisk" style = "color: orange"></p>-->
              <h3>Difficulty: <%= i.difficulty %>/5</h3>
              </td></tr>
              <br>  
             </table>

            </div>
          
          <hr>

        <%end%>
        
        </div>
     </div> 
</div>
<div class = "right"></div>    
        
<%end%>

<style type="text/css">

    .left {
        width: 32%;
    }
    
    .right {
        width: 0%;
    }

    .centre {
        width: 50%;
        float: left;
        
    }
    
    #search .btn-primary {
        border-radius: 0;
        border: 4px solid black;
        background-color: white;
        color: black;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        
        
        width: 70%;
        margin-left: 15%;
    }
    
    .resultCompany h2 {
        float: right;
        text-align: right;
        
    }

    
    .resultDifficulty h3 {
        float: right;
        text-align: right;
    }
    
    .link {
        color: #35a192;
    }
    
    table {
        width: 90%;
        margin-left: 5%;
        
    }
    
    .searchPanel div {
          margin-bottom: 2%;
    }

      
    #results {
        background-color: white;
        border: 4px solid black;
        width: 99%;
        margin-left: 1%;
    }
      
      .content{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        
      }
      
</style>