<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Oswald);
    @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	
	.glyphicon {
		font-size:1em;
		color:#78a300;
	}
	
	.sendButton {
		margin-bottom:6%;
	}
	
	.profile_name {
		font-family: 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
	}
	
	.portfolio {
		font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
	}
	
	.thumbnail {
		border: 4px solid black;
        background-color: white;
        color: black;
        font-family: 'Oswald', sans-serif;	
	}
	
	.left-panel {
		margin-right:5%;
		margin-left:2%;
		padding-bottom:5%;
		border: 4px solid black;
        background-color: white;
        color: black;
        font-family: 'Oswald', sans-serif;	
	}
	
	#interview_form{
		display: none;
		width: 100%;
	}
	
	.about {
		border: 4px solid black;
	    background-color: white;
	    color: black;
	    font-family: 'Oswald', sans-serif;
	}
	.message{
		width: 100%;
	}
	
	img {
		width:100%;
	} 
	
</style>
<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.ssa-nsw.org.au/uploads/50166/female-photo17.png" alt="Profile Picture">
	      <div class="caption">
	        <p><%= @user.about%></p>
	      
        	
        	<div>
        		<p><strong>Website:</strong> <%=@user.web_url %></p>
        		<p><strong>Location:</strong> <%= "#{@user.state} / #{@user.city}"%></p>
        	</div>
        	
			</div>
	    </div>
	  </div>
	  	
	  	<div class="col-md-8">
			<div class="row">
				<h2 class="profile_name"><%= @user.first_name %></h2>
			</div>
			
			<div class="row">
				<div class="col-md-6 text-left">
					<h3 class="portfolio">Portfolio</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-right">
					<div id = "form_spot">
						<%if @showEditFeatures%>
							<%=link_to "", "/profile/newItem", :id => @jobseeker.id ,remote:true, method: :post, class: "btn btn-default btn-large glyphicon glyphicon-plus"%>
						<%end %>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div id = "portfolio">
					<%= render partial: "jobportfolio", locals: {items: @portfolio, iftrue: @showEditFeatures}%>
				</div>
			</div>
			
	</div>
</div>


	<% if @jobseeker and @job %>
	<div class="col-md-4"></div>

	
	<div class="col-md-6">
		<%= link_to "Ask for interview", {controller: "employers", action: "message_prompt", job_id: @job.id, seeker_id: @jobseeker.id}, id: "ask_for_interview", remote: true %> 
	<div class="row">
	<%= form_for(:interview,  :url => url_for(:controller => "employers", :action => "send_message"), :html => {:id => "interview_form" }) do |f| %>
	<%= f.hidden_field :job_id, value: @job.id %>
	<%= f.hidden_field :seeker_id, value: @jobseeker.id %>
	<%= f.text_area :message, class: "message" %>
	<button type="submit" class="btn btn-default sendButton">Submit</button>
		<% end %>
		<%end%>
	</div>
	<div class="col-md-2"></div>
</div>
</div>


	

