

<div id="Profile">

	<%= @user.first_name %><br />
	<%= @user.last_name %><br />

	<p>About me:</p>
	<%= @user.about%>

	<br />
	<p>location:<p>
	<%= "#{@user.state} / #{@user.city}"%>

	<p>My website:</p>
	<%=@user.web_url %>

</div>


<div id = "portfolio">
	<div id = "form_spot">
	<%if @showEditFeatures%>
		<%=link_to "New", "/profile/newItem", :id => @jobseeker.id ,remote:true, method: :post%>
	<%end %>
	</div>
	<%= render partial: "jobportfolio", locals: {items: @portfolio, iftrue: @showEditFeatures}%>
</div>