<div class="content">

<% if @interview %>
	<br>
	
<h1><%= @interview.title %></h1>
	
	<hr>
	<div class="col-md-3 col-md-offset-1">
	  <div><strong>Company:</strong><%= @interview.company_name %></div>
	  <div class="intervewee"><p><strong>Interviewee id:</strong><%= @interview.job_seeker_id %></p></div>
	  <!--<div>-->
	  <!--  %= job_seeker.id = "@interview.job_seeker" %>-->
	  <!--  <p>%= link_to "Interviewee", '/profile/job_seeker.id' %>-->
	  <!--</p>-->
   <!--     </div>-->
	  </div>
	
	<div class="col-md-7">
	  
			<div><strong>Description:</strong><p><%= @interview.description %></p></div>
            <div><strong>Create date</strong>:<p><%= @interview.created_at %></p></div>
            <div><strong>Duration:</strong><p><%= @interview.duration %></p></div>
            <div><strong>Difficulty:</strong><p><%= @interview.experience %></p></div>
            <!--<div><strong>Location:</strong><p><#%= @intervew.position %></p></div>-->
            <!--<div>Suggestion for other interviewees:<p>Paragraph of suggestion or expierence.</p></div>     	-->
           <div><strong>Voted by:<p><%=  @interview.upvotes.count %></strong></p></div>
     </div>


<div id="upvoted_message"></div>

<% if is_current_user_job_seeker? and can_upvote? @interview.id %>

<div id="active_button"></div>
<%= link_to "Upvote", {controller: 'interview_reviews', action: 'upvote', id: @interview.id}, id: "upvote_button",  class: "btn btn-default", remote: true %>

<%else%>
	
<%= link_to "Upvoted", '#',  class: "btn btn-default", disabled: true %>

<%end%>
<br> <br>
<%= link_to 'Back', session[:current_uri], class: 'btn btn-default' %>
<%end%>
</div>


<style type="text/css">
.intervewee{
	padding-top: 30%;
}
.button{
  float:inherit;
}
  .content{
    margin-left: 10%;
   
    margin-top: 6%;
    margin-right: 10%;

  }
  .btn-primary{ 
    width: 25%;
  }
  h3{
    font-size: 30px;
  }
  p#total_votes{
  	float: inherit;
  }

</style>
