    


<style type="text/css">
  #job_description{
    max-width: 100%;
  }
  
  p.submit{
    margin-top: 20px;
  }
  
  .form-control{
    width: 100%;
  }
  
  .new_job {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
  }
  
  h2 {
    margin: 0 0;
  }
  
  .btn-primary{
    width: 100%;
    height: 40px;
  }
  
  .border {
    font-family: 'Oswald', sans-serif;
    border-radius: 0;
    border: 4px solid black;
    background-color: white;
  }
  select.new_job{
    /*height: 0px;*/
    padding: 0 6px;
    height: 40px;
    font-size: 25px;
  }
  .new_job{
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40px;
  }

</style>

<div class="container">
  <div class="row">
    
    <div class="col-xs-8 col-md-offset-2 border">
    
      <div class="row">
        <div class="col-md-10 text-center">
          <h2>New Job</h2>
        </div>
        
        <div class="col-md-2 pull-right">
          <%= link_to "Cancel", {controller: "employers", action: "show", id: current_user.company.id} , class: "btn btn-danger", id: "cancel_button" %>
        </div>
      </div>
      
      <div class="row">
        <% if @job.errors.any? %>
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger">
            <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <%= form_for(@job) do |f| %>
      
          <div class="form-group">
            <%= f.text_field :title, class: 'form-control new_job', placeholder: "Title" %>
          </div>
            
          <div class="form-group">
             <%= f.text_area :description, class: 'form-control new_job', placeholder: "Description" %>
          </div>
                
          <div class="form-group">
             <%= f.text_field :city, class: 'form-control new_job', placeholder: "city" %>
          </div>
            
          <div class="form-group">
          <% states = ["New South Wales", "Vitoria", "Queensland", "Western Australia", "Tasmania", "Australian Capital Territory", "Nothern Territory"] %>
          <%= f.select(:state,states, {:include_blank => 'State'}, {class: "form-control new_job"})  %>

          <%#= f.text_field :state, class: 'form-control new_job',placeholder: "state"  %>
          </div>
      
          <div class="form-group">
             <%= f.text_field :question1, class: 'form-control new_job', placeholder: "question1" %>
          </div>
            
            <div class="form-group">
            <%= f.text_field :question2, class: 'form-control new_job', placeholder: "question2" %>
            </div>
      
          <div class="form-group">
             <%= f.text_field :question3, class: 'form-control new_job', placeholder: "question3" %>
          </div>
          
          <div class="form-group">
            <%= f.date_field :closing_date, class: 'form-control new_job', prompt: "closing date(xxxx-xx-xx)" %>
           </div>
      
          
          <% sub_industries = []  %>
            <%  SubIndustry.all.each do |sub| %>
            <% sub_industries = sub_industries + [sub.name] %>
          <% end %>
          
          <div class="form-group">
            <% work_types = ["Full-time", "Part-time", "Contract", "Casual"] %>
            <%= f.select(:work_type,work_types, {:include_blank => 'Work Type'}, {class: "form-control new_job"})  %>
          </div>
          
          <div class="form-group">
            <%= f.select(:category,sub_industries, {:include_blank => 'Category'}, {class: "form-control new_job"})  %>
          </div>
          
          <div class="form-group">
            <%= f.submit "Post", class: "btn btn-primary" %>
          </div>
          
          <% end %>
        </div>
        
    </div>
    
  </div>
</div>
    
