<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>


<p>
  <strong>City:</strong>
  <%= @job.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @job.country %>
</p>


<% if is_job_creator @job %>
<%=  link_to 'Edit', edit_job_path(@job), class: "btn btn-default" %> 

<%end%>


<% if logged_in? and is_current_user_job_seeker? %>

 <% if !already_applied? @job.id  %>

  <% if !already_short_listed? @job.id %>
    <form data-remote="true" action="/jobs/shortlist" method="post">
<input type="hidden"  name="job" value='<%= job.id %>'></input>

<button id='btn<%= job.id %>' class="button">Add to short list</button>
</form>


  <%else %>

  <button class="btn btn-default" disabled="">Short listed</button>

  <%end%>

  <%=  link_to 'Apply',  {:controller => "jobs", :action => "apply", :job_id => @job.id } , class: "btn btn-default", remote: true %>

<% else %>
  <button class="btn btn-default" disabled>Already applied</button>
<%end%>



<% else %>

<% session[:current_job_application] = @job.id %>
<%= link_to "Sign in to apply", login_path%>

<%end%>

<div id="job_application">
	
</div>



<%= link_to 'Back', session[:current_uri], class: 'btn btn-default' %>