<div id = "interview">
	<% interview = InterviewReview.where(:company_id => session[:comp_id])%>
			<%if interview != nil%>
			<% interview.each do |i|%>
			<div id = '<%=i.id%>'>
				<div><%= link_to i.title , {controller: 'interview_reviews', action: 'show', id: i.id}, class: "link" %></div>
				<div><%=i.interview_date%></div>
				<div>
			<%=i.position%></div>
				<div>
				<%=i.description%></div>
				<div>
				<%=i.company_name%></div>
				
			</div>
			<%end%>
			<%end%>
			
</div>