<div id = "jobs">
<% jobs = Job.where(user_id: Company.find(session[:comp_id]).user_id)%>
			<%if jobs != nil%>
			<% jobs.each do |j|%>
			<div id = '<%=j.id%>'>
					<div><%= link_to j.title, {:controller => "jobs", :action => "show", id: j.id}, class: 'link'%></div>
					<div><p><%=j.city%></p></div>
				<div>
				<%=j.closing_date%></div>
				<div>
				<%=j.description%></div>
				<div>
				<%=@company.title%></div>
				
			</div>
			<%end%>
			<%end%>
	</div>