<div id = "jobs">
	<div class="job">
<%#jobs = Job.where(user_id: Company.find(session[:comp_id]).user_id)%>
			<%if jobs != nil%>
			<% jobs.each do |j|%>
			<div id = '<%=j.id%>'>
				<div><h2><%= link_to j.title , {controller: 'jobs', action: 'show', id: j.id}, class: "link" %>
				</h2></div>
				<div><p><strong><%=j.city%></strong></p></div><br>
				<div><p><strong>Closing Date: 
				<%=j.closing_date%></strong></p></div><br>
				<div><p><strong>Description: 
				<%=j.description%></strong></p></div><br><br>
				
			</div>
			<%end%>
			<%end%>
	</div>
	</div>