<div id = "profile">
		
		<div class="companyname"><h1><%= Company.find(@user.id).title %></h1></div>
	<div class="col-md-3 col-md-offset-1">
		<div><strong>location:</strong><p><%= "#{@user.state} / #{@user.city}"%><p>
		</div>
		<div><strong>Our website:</strong>
		<p><%=@user.web_url %></p>
		</div>
		<div><strong>ABN:</strong><p><%=@company.abn %></p>
		</div>
	</div>

		<div class="col-md-7"><h3><p>About us:</p></h3>
		<%= @user.about%>



	<div id = "directory"><h3><ul class="nav nav-tabs">
	   <li><%=link_to "Jobs", {:controller => "employerprofile", :action => "jobs", id: @company.id}, remote:true%></li>
	   <li><%=link_to "Interview Reviews",{:controller => "employerprofile", :action => "interview", id: @company.id}, remote:true%></li>
	   <li><%=link_to "Company Reviews", {:controller => "employerprofile", :action => "review", id: @company.id}, remote:true%></li>
	   </ul></h3></div>


	<br />
	<div id = "results">

		<div id = "respectiveForm">
		</div>
		<div id = "result">
		</div>
	</div>
	</div>
</div>
<style type="text/css">
.companyname{
	font-size: 50px;
	text-align: center;
}
</style>
