<div id = "profile">
	
	<%= @user.first_name %><br />
	<%= @user.last_name %><br />

	<p>About me:</p>
	<%= @user.about%>

	<br />
	<p>location:<p>
	<%= "#{@user.state} / #{@user.city}"%>

	<p>My website:</p>
	<%=@user.web_url %>

	<p>ABN:</p>
	<%=@company.abn %>

</div>



<%=link_to "Jobs", {:controller => "employerprofile", :action => "jobs", id: @company.id}, remote:true%>
<br />


<%=link_to "Interview Reviews",{:controller => "employerprofile", :action => "interview", id: @company.id}, remote:true%>
<br />


<%=link_to "Company Reviews", {:controller => "employerprofile", :action => "review", id: @company.id}, remote:true%>

<br />
<div id = "results">

<div id = "respectiveForm">
</div>
<div id = "result">
</div>

</div>