<style>
.text{
  text-align: center;
}

</style>
<div class="container">

  <div class="text">
    <h2>US</h2>
  </div>
<section class="big_screen">
  <ul class="carousel">
   <li class="items main-pos" id="1"> <%= image_tag "teamCollaboration.jpg",id: "Yash" %> </li>
   
   <li class="items left-pos" id="2">
      <%= image_tag "intern.png",id: "Grace"  %>
    </li>
   

    <li class="items right-pos" id="3">
      <%= image_tag "teaching.jpg", id: "Steph" %>
    </li>
    <li class="items back-pos" id="4"> <%= image_tag "JobSearchNewspaper.jpeg",id: "Arjun" %> </li>
    <li class="items back-pos" id="5">
      <%= image_tag "job.jpg", id: "Tracy" %>
    </li>
  
  </ul>

</section>
<!-- <div id="slider" class="small_screen">
    <ul class="slides">
       <li class="slide"> <%= image_tag "teamCollaboration.jpg", id: "Yash" %> </li>
        <li class="slide"> <%= image_tag "intern.png", id: "Grace" %></li>
        <li class="slide"> <%= image_tag "teaching.jpg",id: "Steph" %></li>
        <li class="slide">  <%= image_tag "JobSearchNewspaper.jpeg", id: "Arjun" %></li>
        <li class="slide"> <%= image_tag "job.jpg", id: "Tracy" %> </li>
  
    </ul>


</div> -->
    <div id="name"></div>

    <br>

    <div id="role"></div>

    <br>

    <div id="about"></div>

<div class="buttons">
  <button class="btn" id="next">Next</button>

 <button class="btn" id="back">Back</button>
</div></div>
<script>


var items = [];
var startItem = 1;
var position = 0;
var itemCount = $('.carousel li.items').length;
var leftpos = itemCount;
var resetCount = itemCount;
var totalSlides = 5;
var imageWidth = 485;

$('li.items').each(function(index) {
    items[index] = $(this).text();
});

function swap(action) {
  var direction = action;


  if(direction == 'counter-clockwise') {
    var leftitem = $('.left-pos').attr('id') - 1;
    if(leftitem == 0) {
      leftitem = itemCount;
    }

    $('.right-pos').removeClass('right-pos').addClass('back-pos');
    $('.main-pos').removeClass('main-pos').addClass('right-pos');
    $('.left-pos').removeClass('left-pos').addClass('main-pos');
    $('#'+leftitem+'').removeClass('back-pos').addClass('left-pos');

    startItem--;
    if(startItem < 1) {
      startItem = itemCount;
    }
  }
  if(direction == 'clockwise' || direction == '' || direction == null ) {
    function pos(positionvalue) {
      if(positionvalue != 'leftposition') {
        position++;
        if((startItem+position) > resetCount) {
          position = 1-startItem;
        }
      }
      if(positionvalue == 'leftposition') {
        position = startItem - 1;
        if(position < 1) {
          position = itemCount;
        }
      }

      return position;
    }

   $('#'+ startItem +'').removeClass('main-pos').addClass('left-pos');
   $('#'+ (startItem+pos()) +'').removeClass('right-pos').addClass('main-pos');
   $('#'+ (startItem+pos()) +'').removeClass('back-pos').addClass('right-pos');
   $('#'+ pos('leftposition') +'').removeClass('left-pos').addClass('back-pos');

    startItem++;
    position=0;
    if(startItem > itemCount) {
      startItem = 1;
    }
  }
}


$('.items').click(function() {

  if($(this).attr('class') == 'items left-pos') {
        swap('counter-clockwise');
        getInfo();
  }
  else {
    swap('clockwise');
    getInfo();
  }
});
var currentSlide = 1;

$('#next').click(function(){
  if(currentSlide == totalSlides){
    $('#slider .slides').css('margin-left', "0px");
    currentSlide = 1;
  }
  else{
    $('#slider .slides').css('margin-left', "-=" + imageWidth + "px")
    currentSlide++;
  }

}
);
$('#back').click(function(){
  if(currentSlide == 1){
    $('#slider .slides').css('margin-left', (1-totalSlides)*imageWidth + "px");
    currentSlide = totalSlides;
  }
  else{
    $('#slider .slides').css('margin-left', "+=" + imageWidth + "px")
    currentSlide--;
  }
  console.log("currentSlide : " + currentSlide + " " + "margin : " + $('#slider .slides').css('margin-left'));
}

);

function getInfo(){
   var a =  $('.main-pos')[0];
  var memberName = $($(a).children()[0]).attr('id')
  $.ajax({
           url: "<%=  '/member' %>",
           data: {
               name: memberName
           },
           dataType: "script"
        });
};
  $(document).ready(function() {
    getInfo();
   
  });
</script>
