<div class="container">

  <div class="text">
    <h1>ABOUT US</h1>
    <hr>
    <div ><h2 id="name"></h2></div>
    <div ><h3 id="role"></h3></div>
    <div ><h3 id="about"></h3></div>
    <br>
  </div>
<section class="big_screen">


   <ul class="carousel">
    <li class="items main-pos" id="1"> <%= image_tag "yash.jpg",id: "Yash"  %> </li>
    <li class="items right-pos" id="2">
    <%= image_tag "grace.jpg",id: "Grace"  %>
    </li>

    <li class="items back-pos" id="3">
     <%= image_tag "steph.jpg", id: "Steph" %>
    </li>
    <li class="items back-pos" id="4">
     <%= image_tag "arjun.jpg",id: "Arjun" %>
    </li>
    <li class="items left-pos" id="5">  <%= image_tag "tracy.jpg", id: "Tracy" %>
    </li>
  </ul>


</section>

<div id = "arrows">
        <div class="col-md-4"></div>
       <div class="col-md-2">
       <div class="col-md-4 col-md-offset-1" id="left">
      <p class="glyphicon glyphicon-chevron-left"></p>
    </div>
    </div>
    <div class="col-md-2">
      <div class="col-md-4 col-md-offset-4" id="right">  
    <p class="glyphicon glyphicon-chevron-right"></p>
  </div>
</div>
    
  
  
</div>

<div class='dots'>
<div class="row">
  
<div class="col-md-4"></div>

    <div class="col-md-4">
      
      <nav class="carousel">
        
        <input id="carousel-item-1" type="radio" name="carousel-dots" checked disabled="true">
        <label for="carousel-item-1">Go to item 1</label>

        <input id="carousel-item-2" type="radio" name="carousel-dots" disabled="true">
        <label for="carousel-item-2">Go to item 2</label>

        <input id="carousel-item-3" type="radio" name="carousel-dots" disabled="true"> 
        <label for="carousel-item-3">Go to item 3</label>

        <input id="carousel-item-4" type="radio" name="carousel-dots" disabled="true">
        <label for="carousel-item-4">Go to item 4</label>

        <input id="carousel-item-5" type="radio" name="carousel-dots" disabled="true">
        <label for="carousel-item-5">Go to item 5</label>

      </nav>

    </div>
    
    </div>
    

    </div>


<div class="buttons">
  <button class="btn" id="next">Next</button>

 <button class="btn" id="back">Back</button>
</div></div>
<script>
var items = [];
var startItem = 1;
var position = 0;
var itemCount = $('.carousel li.items').length;
var leftpos = itemCount;
var resetCount = itemCount;
var totalSlides = 5;
var imageWidth = 485;
$('li.items').each(function(index) {
    items[index] = $(this).text();
});
$(document).ready(function(){
  var slideCheck = 1;
  $('#carousel-item-'+ slideCheck).prop("checked", true);
})
function swap(action) {
  var direction = action;
  if(direction == 'counter-clockwise') {
    var leftitem = $('.left-pos').attr('id') - 1;
    if(leftitem == 0) {
      leftitem = itemCount;
    }
    $('.right-pos').removeClass('right-pos').addClass('back-pos');
    $('.main-pos').removeClass('main-pos').addClass('right-pos');
    $('.left-pos').removeClass('left-pos').addClass('main-pos');
    $('#'+leftitem+'').removeClass('back-pos').addClass('left-pos');
    startItem--;
    if(startItem < 1) {
      startItem = itemCount;
    }
  }
  if(direction == 'clockwise' || direction == '' || direction == null ) {
    function pos(positionvalue) {
      if(positionvalue != 'leftposition') {
        position++;
        if((startItem+position) > resetCount) {
          position = 1-startItem;
        }
      }
      if(positionvalue == 'leftposition') {
        position = startItem - 1;
        if(position < 1) {
          position = itemCount;
        }
      }
      return position;
    }
   $('#'+ startItem +'').removeClass('main-pos').addClass('left-pos');
   $('#'+ (startItem+pos()) +'').removeClass('right-pos').addClass('main-pos');
   $('#'+ (startItem+pos()) +'').removeClass('back-pos').addClass('right-pos');
   $('#'+ pos('leftposition') +'').removeClass('left-pos').addClass('back-pos');
    startItem++;
    position=0;
    if(startItem > itemCount) {
      startItem = 1;
    }
  }
    slideCheck = $('.main-pos').attr('id');
  $('#carousel-item-'+ slideCheck).prop("checked", true);
}
$('.items').click(function() {
  if($(this).attr('class') == 'items left-pos') {
        swap('counter-clockwise');
        getInfo();
  }
  else {
    swap('clockwise');
    getInfo();
  }
});
$('#left').click(function() {
  swap('counter-clockwise');
    
        getInfo();
  });
$('#right').click(function() {
     swap('clockwise');
        getInfo();
  });
var currentSlide = 1;
$('#next').click(function(){
  if(currentSlide == totalSlides){
    $('#slider .slides').css('margin-left', "0px");
    currentSlide = 1;
  }
  else{
    $('#slider .slides').css('margin-left', "-=" + imageWidth + "px")
    currentSlide++;
  }
}
);
$('#back').click(function(){
  if(currentSlide == 1){
    $('#slider .slides').css('margin-left', (1-totalSlides)*imageWidth + "px");
    currentSlide = totalSlides;
  }
  else{
    $('#slider .slides').css('margin-left', "+=" + imageWidth + "px")
    currentSlide--;
  }
  console.log("currentSlide : " + currentSlide + " " + "margin : " + $('#slider .slides').css('margin-left'));
}
);
function getInfo(){
   var a =  $('.main-pos')[0];
  var memberName = $($(a).children()[0]).attr('id')
  $.ajax({
           url: "<%=  '/member' %>",
           data: {
               name: memberName
           },
           dataType: "script"
        });
};
  $(document).ready(function() {
    getInfo();
   
  });
$(document).keydown(function(e){
  switch(e.which) {
    case 37: 
      swap('counter-clockwise');
      getInfo();
      break;
    case 39:
      swap('clockwise');
      getInfo();
      break;
  }
});
</script>

<style type="text/css">

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    /*text-decoration: underline;*/
  }
  
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
  }
  
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  h2, h3 {
    line-height: 5px; 
  }
  
  .container {
    margin-top: -2%;
    /*border: 4px solid black;*/
    /*background-color: white;*/
  }
  

</style>