<!DOCTYPE html>
<html>
<head>
  <title>NoExperienceNeeded</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

</style>
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NEN</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   
        <% if !(logged_in? and is_current_user_employer?) %>

      <% current_uri = request.env['PATH_INFO'] %>


      <% if current_uri != "/" %>
         <form class="navbar-form navbar-left" role="search" action="/search">
        <div class="form-group">
          <input type="text" class = "form-control" name="query" placeholder="search" value='<%=session[:query]%>' >
        </div>
         <div class="form-group">
          <select class="form-control" name="search_type" id="search_type">
                <option value="jobs">Jobs</option>
                <option value="interviews">Interviews</option>
                <option value="comp_reviews">Companies Reviews</option>
            </select>
              <input type="hidden" name="search_from" value="navbar"></input>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <%end%>

      <%end%>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
           <% if !logged_in? %>
          <!-- <li><a type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#login" id = "loginButton">Login</a></li> -->

          <li><%= link_to  "Login", "/login"%></li>
          <% else %>

      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <% if is_current_user_employer? %>
                  <li><%= link_to "Profile",  {controller: 'employers', action: 'show', id: current_user.company.id} %></li>
              <% elsif is_current_user_job_seeker? %>
                <li><%= link_to "Profile", {controller: 'job_seekers', action: 'show', id: current_user.job_seeker.id} %></li>
              <%end%>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>

    <% if is_current_user_employer? %>
             <li><%= link_to  "Create Job", new_job_path %></li>
          <%end%>
           <%end%>
        </ul>
      </div><!-- /.navbar-collapse -->


     
    </div><!-- /.container-fluid -->
  </nav>
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content col-sm-10">

          <!-- Form for username and password -->
          <div class = "container-fluid" id = "existingUser">
          <p><h3>login:</h3></p><br>
          <form role = "form" id = "login" method="post">
            <input type = "text" class="form-control col-sm-6 input-lg" placeholder = "username" name = "username"><br><br>
            <input type = "password" class="form-control col-sm-6 input-lg" placeholder = "password" name = "password"><br><br>
              <button type = "submit" disabled class = "btn btn-default" id = "submit"><b>submit</b></button>
          </form>

            </div>

      <!-- Sign up and forgotten password links-->
      <div class = "modal-footer">
          <p>&nbsp;  <a href="/error" > FIRST TIME </a> USER</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/error" id = "forgottenPassword">FORGOT YOUR PASSWORD?</a></p>
      </div>

      </div>

        </div>

    </ul>
        </div>

<%= yield %>

<script>

   //  /* TEMPORARY: reacts to the submission from the search bar form */
   //  $(document).ready(function(){
   //      $("form").submit(function(){
   //          var search = $('#searchbar').find('input[name="field"]').val();
   //          var returnString = "You searched for: " + search.toUpperCase() + "." + "\nThis feature is still under construction.\nBummer."

   //          alert(returnString);

   //      });
   //  });

   //  <!-- Changes the navigation bar when hovered over-->
   // $(document).ready(function(){

   //      $("#brand,#menu,#loginButton,#menuOptions").hover(function(){
   //          $(this).css("text-transform", "capitalize");
   //          $(this).css("color", "crimson");
   //      }, function(){
   //          $(this).removeAttr('style');
   //      });


   //  });


var ready = function() {
    
<% search_type = session[:search_type] %>
 <% if search_type %>
$('#search_type').val('<%=search_type%>');

  
<%end%>
console.log("cool");

};

$(document).ready(ready);
$(document).on('page:load', ready);


</script>
<style type="text/css">
  body{
    margin: 0;
    padding: 0;
  }
  .navbar{
    border-radius: 0!important;
  }
</style>
</body>

</html>
